.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .example {
    padding: 1em;
}
.sidebar {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    background-color: beige;
    padding: 1em;
}

.language-keycode {
    font-size: 1.4em;
    margin-bottom: 10px;
    box-sizing: border-box;
}

span.letter {
    display: inline-block;
    background-color: grey;
    text-align: center;
    padding: 4px;
    margin: 4px;
    width: 1.4em;
    height: 1.4em;
}

textarea,
select {
    width: 100%;
    margin: 10px 0;
}
