html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.language {
  padding: 0.5em 1em;
  filter: drop-shadow(0 0 0.75rem #ccc);

  &.active {
    background-color: pink;
  }

  &:hover {
    background-color: #ccc;
  }
}
