#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 250px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #2c3e50;
  color: #fff;
  cursor: pointer;
}
input {
  width: 100%;
  box-sizing: border-box;
}
fieldset {
  text-align: left;
}

button.active {
  background-color: #fff;
  color: #2c3e50;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}
#language-group {
  width: 100%;
}
#language-options {
  display: flex;
  overflow-x: hidden;
}
#language-options .language-option {
  border: 1px solid lightgray;
  padding: 2px;
  margin-right: 1px;
}
#language-timer {
  height: 5px;
  background-color: #2c3e50;
}
